@using ControlHoras.Models

<div class="container" style="margin:auto">
    <h2 style="text-align:center">Listado de Tareas del proyecto @ViewBag.proyecto</h2>

    <table border="1" style="margin:auto; margin-top:20px">
        <tr style="background-color:darkgray">
            <th width="150px" style="text-align:center">TECNICO</th>
            <th width="150px" style="text-align:center">FECHA INICIO</th>
            <th width="150px" style="text-align:center">FECHA FIN</th>
            <th width="150px" style="text-align:center">TAREA</th>
            <th width="150px" style="text-align:center">HORAS TOTALES</th>
        </tr>
        @foreach (Tarea unaTarea in (List<Tarea>)ViewBag.ListaTareas)
        {
            <tr>
                <td style="text-align:center"> @unaTarea.Tecnico </td>
                <td style="text-align:center"> @unaTarea.FechaInicio </td>
                <td style="text-align:center"> @unaTarea.FechaFin </td>
                <td style="text-align:center"> @unaTarea.Nombre </td>
                <td style="text-align:center"> @unaTarea.HorasReales h </td>
            </tr>
        }

    </table>
    <a href='@Url.Action("ExportarPDF", "Lista")'>
        <img src='@Url.Content("~/Imagenes/BtnPdf.png")' width="30" height="30" />
    </a>
    <a href='@Url.Action("ExportarExcel", "Lista")'>
        <img src='@Url.Content("~/Imagenes/BtnExcel.png")' width="30" height="30" />
    </a>
</div>